{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["flowtype", "import"],
  "rules": {
    "indent": ["error", 4],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": ["off"],
    "no-console": 1,
    "jsx-quotes": 1,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/sort-comp": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "no-duplicate-imports": 0,
    "class-methods-use-this": 0,
    "no-use-before-define": 0,
    "no-extra-parens": "off",
    "no-confusing-arrow": "off",
    "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2
  }
}
